.footer {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	@media screen and (max-width: 425px) {
		flex-direction: column;
		flex-wrap: nowrap;
	}
	&-bg {
		background-color: $green-5-100;
		padding-top: 34px;
		@media screen and (max-width: 425px) {
			padding-top: 10px;
		}
	}
	&-container {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 10px;
	}
}