.w400 {
	width: 400px;
}
.w100p {
	width: 100%;
}
.w115 {
	width: 115px;
}
.w140 {
	width: 140px;
}
.w170 {
	width: 170px;
}
.w210 {
	width: 210px;
}
.w265 {
	width: 265px;
}
.w310 {
	width: 310px;
}
.h49 {
	height: 49px;
}
.h235 {
	height: 235px;
}