$white: #FEFEFE;


$bg: #FEFFFC;


$shd-header: #EFEFEC;


$yellow-pb: #F3CA3D;


$yellow-100: #F8D663;
$yellow-80: rgba(248, 214, 99, 0.8);
$yellow-40: rgba(248, 214, 99, 0.4);
$yellow-20: rgba(248, 214, 99, 0.2);
$yellow-5: rgba(248, 214, 99, 0.05);


$blue-100: #1145CC;
$blue-80: rgba(17, 69, 204, 0.8);
$blue-40: rgba(17, 69, 204, 0.4);
$blue-20: rgba(17, 69, 204, 0.2);
$blue-5: rgba(17, 69, 204, 0.05);


$red-100: #EC1616;
$red-80: rgba(236, 22, 22, 0.8);
$red-40: rgba(236, 22, 22, 0.4);
$red-20: rgba(236, 22, 22, 0.2);
$red-5: rgba(236, 22, 22, 0.05);


$black-100: #131511;
$black-80: rgba(19, 21, 17, 0.8);
$black-40: rgba(19, 21, 17, 0.4);
$black-20: rgba(19, 21, 17, 0.2);
$black-5: rgba(19, 21, 17, 0.05);


$green-1-100: #7FA850;
$green-1-80: rgba(127, 168, 80, 0.8);
$green-1-40: rgba(127, 168, 80, 0.4);
$green-1-20: rgba(127, 168, 80, 0.2);
$green-1-5: rgba(127, 168, 80, 0.05);


$green-2-100: #618C35;
$green-2-80: rgba(73, 111, 35, 0.8);
$green-2-40: rgba(97, 140, 53, 0.4);
$green-2-20: rgba(97, 140, 53, 0.2);
$green-2-5: rgba(97, 140, 53, 0.05);


$green-3-100: #496F23;
$green-3-80: rgba(73, 111, 35, 0.8);
$green-3-40: rgba(73, 111, 35, 0.4);
$green-3-20: rgba(73, 111, 35, 0.2);
$green-3-5: rgba(73, 111, 35, 0.05);


$green-4-100: #315414;
$green-4-80: rgba(49, 84, 20, 0.8);
$green-4-40: rgba(49, 84, 20, 0.4);
$green-4-20: rgba(49, 84, 20, 0.2);
$green-4-5: rgba(49, 84, 20, 0.05);


$green-5-100: #1D350A;
$green-5-80: rgba(29, 53, 10, 0.8);
$green-5-40: rgba(29, 53, 10, 0.4);
$green-5-20: rgba(29, 53, 10, 0.2);
$green-5-5: rgba(29, 53, 10, 0.05);